doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Big Bac Boe
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/style.css')
  body
    #navbar.text-center
      a.navlink(href='/') Home
      |  |
      a.navlink(href='/about') About
      |  |
      a.navlink(href='/instructions') How to Play
      |  |
      a.navlink(href='/users/login') Sign in
    .pagecont.active
      h1.bigheader Join a Game
      hr
      .row.no-gutters
        .col-md-6
          .row.no-gutters
            .col-sm-6
              button#0.timeButtons.joingame(style='left: 0px; top: 0px;') Unlimited
            .col-sm-6
              button#20.timeButtons.joingame(style='left: 202px; top: 0px;') 20 Minutes
        .col-md-6
          .row.no-gutters
            .col-sm-6
              button#30.timeButtons.joingame(style='left: 404px; top: 0px;') 30 Minutes
            .col-sm-6
              button#40.timeButtons.joingame(style='left: 404px; top: 0px;') 40 Minutes
    #waitingDiv.text-center.inactive Finding an opponent
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/client.js')
