doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Big Bac Boe
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/style.css')
  body
    #navbar.text-center
      a.navlink(href='/') Home
      |  |
      a.navlink(href='/about') About
      |  |
      a.navlink(href='/instructions') How to Play
      |  |
      a.navlink(href='/users/login') Sign in
    .pagecont.active
      h3.text-center You must be signed in to access this page
      hr
      .row.no-gutters
        .col-md-6
          a.timeButtons.removelinkstyle.text-center(href='/') Home
        .col-md-6
          a.timeButtons.removelinkstyle.text-center(href='/users/login') Sign In
