<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<title>Big Bac Boe</title>
		<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
		<link rel="stylesheet" type="text/css" href="/style.css"/>

	<body>
		<div class='text-center' id='navbar'>
			<a href='/' class='navlink'>Home</a> |
			<a href='/about' class='navlink'>About</a> |
			<a href='/instructions' class='navlink'>How to Play</a> |
			<a href='/users/login' class='navlink'>Sign in</a>
		</div>
		<div class='pagecont active'>
			<h3 class='text-center'>You must be signed in to access this page</h1><hr>
			<div class='row no-gutters'>
				<div class='col-md-6'>
					<a class='timeButtons removelinkstyle text-center' href='/'>Home</a>
				</div>
				<div class='col-md-6'>
					<a class='timeButtons removelinkstyle text-center' href='/users/login'>Sign In</a>
				</div>
			</div>
		</div>
	</body>
</html>